@{
    ViewData["Title"] = "Naming Conventions";
}

<h4 class="title">New Class Definition</h4>
<div><b>Your New Class Definition</b></div>
<pre>
    <code>
        <b class="emphasize-code">public class HelloworldWithout : TagHelper</b>
        {
            public override void Process(TagHelperContext context, TagHelperOutput output)
            {
                output.TagName = "span";
                output.Content.SetContent("Hello World No \"TagHelper\" in class name.");
            }
        }
    </code>
</pre>

<div><b>Your New HTML</b></div>
<pre>
    <code>
        &lt;helloworld-without&gt;&lt;/helloworld-without&gt;
    </code>
</pre>

<div><b>Working Example</b></div>
<p>
    <helloworld-without></helloworld-without>
</p>

<br /><br />

<h4 class="title">Using Attributes</h4>
<div><b>Class Definition With Attribute</b></div>
<pre>
    <code>
        <b class="emphasize-code">[HtmlTargetElement("hello-world-with-attribute")]</b>
        public class HelloworldWithAttr : TagHelper
        {
            public override void Process(TagHelperContext context, TagHelperOutput output)
            {
                output.TagName = "span";
                output.Content.SetContent("Hello World using HtmlTargetElement.");
            }
        }
    </code>
</pre>

<div><b>Your New HTML</b></div>
<pre>
    <code>
        &lt;hello-world-with-attribute&gt;&lt;/hello-world-with-attribute&gt;
    </code>
</pre>

<div><b>Working Example</b></div>
<p>
    <hello-world-with-attribute></hello-world-with-attribute>
</p>